# Top-most EditorConfig file.
root = true


#### Core EditorConfig Options ####

# Indentation and spacing
indent_style = space
indent_size = 3

# New line preferences
end_of_line = crlf
insert_final_newline = false
trim_trailing_whitespace = true

# Charset preference
charset = utf-8